$bc: background-color;
$c: color;
$ff: font-family;
$fs: font-size;
$fw: font-weight;
$p : position;
$w: width;

// Variable pour responsive
$breakpoints: (
      sm: (
        min: 576px,
        max: 575px,
      ),
      md: (
        min: 768px,
        max: 767px,
      ),
      lg: (
        min: 992px,
        max: 991px,
      ),
      xl: (
        min: 1200px,
        max: 1199px,
      ),
      xxl: (
        min: 1400px,
        max: 1399px,
      )

);